<header class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-60" style="background-image: url('https://source.unsplash.com/6dW3xyQvcYE/1600x1200')">
  <div class="page-header-ui-content py-15 position-relative">
    <div class="container px-5">
      <div class="row gx-5">
        <div class="col-xl-6 col-lg-8">
          <h1 class="page-header-ui-title">Cuong Nguyen</h1>
          <p class="page-header-ui-text mb-5">I'm a dedicated Engineer and passionate Ruby on Rails</p>
          <a class="btn btn-teal btn-lg fw-500" href="#!">
            <i class="fas fa-file-pdf text-white-75 me-2"></i>
            Download Resume
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-angled text-white">
    <!-- Angled SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
  </div>
</header>

<%= render 'experiences', experiences: @experiences %>

<section class="bg-light py-10">
  <div class="container px-5">
    <div class="text-uppercase-expanded small mb-2">Education</div>
    <hr class="mt-0 mb-5" />

    <div class="row gx-5">
      <div class="col-lg-8">
        <h4 class="mb-0">FPT University</h4>
        <p class="lead">Bachelor of Software Engineering</p>
        <p>Graduated with a degree in Software Engineering, with a specialization in Information System</p>
      </div>
      <div class="col-lg-4 text-lg-end"><div class="text-gray-400 small">August 2013 - Dec 2017</div></div>
    </div>
  </div>
  <div class="svg-border-angled text-white">
    <!-- Angled SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
  </div>
</section>

<section class="bg-white py-10">
  <div class="container px-5">
    <div class="text-uppercase-expanded small mb-2">Skills</div>
    <hr class="mt-0 mb-5" />
    <div class="row gx-5">
      <div class="col-lg-8">
        <p>Attention to detail and a general sense of product viability are my specialties. I am motivated to provide value in a team environment, and I am committed to creating the best possible experience for customers.</p>
        <ul class="mb-0 text-gray-700">
          <li>Ruby-Rails, Python-Django</li>
          <li>HTML, CSS, JS, JQuery, Bootstrap, Tailwind CSS</li>
          <li>Hotwire, Turbo, Stimulus JS</li>
          <li>React JS, Vue JS (imtermediate)</li>
          <li>MySQL, Postgres</li>
          <li>AWS, Heroku</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="svg-border-angled text-light">
    <!-- Angled SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
  </div>
</section>

<section class="bg-light py-10">
  <div class="container px-5">
    <div class="text-uppercase-expanded small mb-2">Interests</div>
    <hr class="mt-0 mb-5" />
    <div class="row gx-5">
      <div class="col-lg-8">
        <p>Apart from being a marketing analyst, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p>When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the marketing management world.</p>
      </div>
    </div>
  </div>
  <div class="svg-border-angled text-white">
    <!-- Angled SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
  </div>
</section>

<section class="bg-white py-10">
  <div class="container px-5">
    <div class="text-uppercase-expanded small mb-2">Contact</div>
    <hr class="mt-0 mb-5" />
    <div class="row gx-5">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <p><h3>Cuong Nguyen</h3></p>
        <p><%= phone_to '+84355619678' %></p>
        <p><%= mail_to 'cuongnguyenfu@gmail.com' %></p>
      </div>
      <div class="col-lg-4 text-lg-end">
        <a class="btn btn-teal btn-lg fw-500" href="#!">
          <i class="fas fa-file-pdf text-white-75 me-2"></i>
          Download Resume
        </a>
      </div>
    </div>
  </div>
  <div class="svg-border-angled text-dark">
    <!-- Angled SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
  </div>
</section>
