<div class="col-md-6 mb-5">
  <a class="card card-portfolio h-100" href="<%= project_path(project) %>">
    <img class="card-img-top" src="<%= project.cover_link %>" alt="..." />
    <div class="card-body"><div class="card-title"><%= project.title %></div></div>
  </a>
</div>