<!-- Page Header-->
<header class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-80" style="background-image: url('https://source.unsplash.com/5fNmWej4tAA/1500x900')">
  <div class="page-header-ui-content position-relative">
    <div class="container px-5 text-center">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8">
          <h1 class="page-header-ui-title mb-3">My work</h1>
          <p class="page-header-ui-text mb-0">A showcase of project's I've worked on in the past years</p>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-light">
    <!-- Rounded SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
  </div>
</header>

<!-- Page content -->
<section class="bg-light py-10">
  <div class="container-fluid px-3 px-md-5">
    <div class="row gx-5">
      <div class='col-12 col-md-8 offset-md-2'>
        <div class='row'>
          <div class="col-12 col-md-6 mb-5">
            <div class='text-center mb-5'>
              <h3>Side Projects</h3>
            </div>

            <%= render partial: 'project', collection: @side_projects, as: :project %>
          </div>

          <div class="col-12 col-md-6 mb-5">
            <div class='text-center mb-5'>
              <h3>Professional Projects</h3>
            </div>

            <%= render partial: 'project', collection: @professional_projects, as: :project %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-10 d-none">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10 text-center py-5">
        <h2>Ready to get Started?</h2>
        <p class="lead text-gray-500 mb-5">We'd love to hear from you about your branding and digital needs. We are currently accepting new clients.</p>
        <a class="btn btn-primary fw-500 text-black" href="#!">Contact Me</a>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-dark">
    <!-- Rounded SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
  </div>
</section>