a {
  text-decoration: none !important;
}

.post-detail {
  background-color: white;
  border-radius: 10px;
}

.post-content {
  img {
    max-width: 100%;
    height: auto !important;
    border-radius: 5px;
  }
}

.img-fluid {
  width: 100%;
}

trix-editor {
  &.customized-min-height {
    min-height: 60em;
  }
}
