<div id="layoutDefault_footer">
  <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
    <div class="container px-5">
      <div class="row gx-5">
        <div class="col-lg-4">
          <div class="footer-brand">Cuong Nguyen</div>
          <div class="mb-3">Software Engineer, Gardener, Sport lover</div>
          <div class="icon-list-social mb-5">
            <a class="icon-list-social-link" href="#!"><i class="fab fa-instagram"></i></a>
            <a class="icon-list-social-link" href="#!"><i class="fab fa-facebook"></i></a>
            <a class="icon-list-social-link" href="#!"><i class="fab fa-github"></i></a>
            <a class="icon-list-social-link" href="#!"><i class="fab fa-twitter"></i></a>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="row gx-5">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 d-none">
              <div class="text-uppercase-expanded text-xs mb-4">Product</div>
              <ul class="list-unstyled mb-0">
                <li class="mb-2"><a href="#!">Landing</a></li>
                <li class="mb-2"><a href="#!">Pages</a></li>
                <li class="mb-2"><a href="#!">Sections</a></li>
                <li class="mb-2"><a href="#!">Documentation</a></li>
                <li><a href="#!">Changelog</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 d-none">
              <div class="text-uppercase-expanded text-xs mb-4">Technical</div>
              <ul class="list-unstyled mb-0">
                <li class="mb-2"><a href="#!">Documentation</a></li>
                <li class="mb-2"><a href="#!">Changelog</a></li>
                <li class="mb-2"><a href="#!">Theme Customizer</a></li>
                <li><a href="#!">UI Kit</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-5" />

      <div class="row gx-5 align-items-center">
        <div class="col-md-6 small">Copyright &copy; Cuong Nguyen FU 2023</div>
      </div>
    </div>
  </footer>
</div>